html, body, #root{
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  color: #625772;
  background-color: #fefaec;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Amatic SC', cursive;
}

.main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.content{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
}

.content > div{
  justify-content: center;
  height: 100%;
}
.map_container{
  width: 50%;
}
.timeline_container{
  overflow-y: auto;
  margin-left: -10%;
  padding-left: 10%;
  width: 60%;
}

h1{
  font-size: 80px;
  margin: 10px;
  color: #fefaec;
  text-shadow: 4px 4px 0px #f38181,8px 8px 0px #625772;
}

h2{
  font-size: 40px;
  margin: 5px;
}

.date{
  font-size: 18px;
}

p{
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
}
span.strike{
    text-decoration-line: line-through;
}
span.italic{
    font-style: italic;
}
span.bold{
    font-weight: bold;
}

.title-container{
  background-color: #a9eee6;
  border-bottom: 10px solid #f38181;
  color: #625772;
  display: flex;
  align-items: center;
  padding-right: 20%;
  justify-content: flex-start;
}


.title-container > h1{
  white-space: nowrap;
  margin-right: 20px;
}
.title-container > p{
}

.timeline-marker{
  width: 100%;
}

a{
  color:#f38181;
}

@media (max-width: 768px){
  h1{
    font-size: 30px;
    text-shadow: 2px 2px 0px #f38181,4px 4px 0px #625772;
  }
  p{
    font-size: 15px;
  }

  div.content{
    flex-direction: column;
  }

  div.timeline_container{
    width: 100%;
    height: 60%;
  }
  div.map_container{
    width: 100%;
    height: 40%;
  }

  .timeline_container{
    border-top: 10px solid #f38181;
    overflow-y: auto;
    margin-left: 0;
    padding-left: 5%;
  }
}